<ejs-chart
  id="chart-container"
  [primaryXAxis]="primaryXAxis"
  [primaryYAxis]="primaryYAxis"
  [title]="title"
  [tooltip]="tooltip"
>
  <e-series-collection>
    <e-series
      [dataSource]="chartData"
      type="Scatter"
      [marker]="marker"
      xName="util"
      yName="revexp"
      tooltipMappingName="name"
    ></e-series>
  </e-series-collection>
</ejs-chart>
<ng-template #content let-modal>
  <div class="modal-header">
    <h3>{{ mapTitle }}</h3>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="map-wrapper" style="margin:25px auto 50px auto!important;">
      <agm-map
        style="height:400px; width:100%"
        [zoom]="5"
        [latitude]="lat"
        [longitude]="lng"
      >
        <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat"  [longitude]="marker.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
      Close
    </button>
  </div>
</ng-template>

<button style="margin:20px auto 0 auto!important;display: block;" class="btn btn-lg btn-primary" (click)="open(content)">
  Maps Modal
</button>



